.text-component {
  min-height: 28px;
  line-height: 28px;
  margin: 2px 0;
  outline: none;

  &:hover {
    background-color: #efefef;
  }

  &:empty:before {
    content: attr(placeholder);
    color: #cccccc;
  }
}
